body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgb(167, 191, 167);
}

button {
  color: white;
  border: none;
}

button:hover {
  cursor: pointer;
}

.display {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.book {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: rgb(134, 174, 134) solid;
  background-color: rgb(134, 174, 134);
  border-radius: 20px;
  padding: 20px;
}

button.new {
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(134, 174, 134);
}

button.remove {
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(191, 93, 93);
}
